body{
	margin: 20px 20px 20px 0px;
  padding: 10px 10px 10px 10px;
	background-color: #FAF9F6;
	font-size: 125%;
}

p{
    font-family: Cochin;
    margin: 10px;
    padding: 5px 25px 5px 25px
}
header{
  margin-top: 50px;
  padding: 25px 50px 0px 25px;
}

h1{
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 100;
    font-size: 1.5em;
    font-family: Cambria, Cochin;
}
nav ul li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FAF9F6;
  }
  
li {
  float: right;
  }

nav a{
  text-decoration: none;
}

a:visited{
    color: black
}

nav a.current{
    text-decoration: underline;
}
  
li a {
  display: inline-block;
  color: #212121;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #aeb0b5;
}
  
h2{
  font-family: Cambria, Cochin;

}
img{
  width: 300px;
  margin: auto;
  display: block;
  border-radius: 5%;
  transition: .5s ease;
}

  
img:hover{
  box-shadow: 0 0 0 8px #5b616b;
  transition: .5s ease;
}

footer{
  background-color: #24262b;
  color: #ffffff;
  padding: 20px 0;
}